<nav class="navbar">
  <div class="logo">LocalFix AI</div>

  <div class="nav-links">

    <a href="{{ url_for('authority_dash') }}">Dashboard</a>

    <a href="{{ url_for('authority_notifications') }}" class="noti-link">
        Notifications
        <span id="noti-badge" class="noti-badge" style="display:none;"></span>
    </a>

    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
</nav>

<style>
.noti-link{ position:relative; }

.noti-badge{
    position:absolute;
    top:-6px;
    right:-10px;
    background:red;
    color:white;
    font-size:11px;
    border-radius:50%;
    padding:2px 6px;
}
</style>