<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<style>
body{font-family:Arial;background:#0d1117;color:#fff}
.card{width:420px;margin:90px auto;
background:#161b22;padding:25px;
border-radius:10px}
a{display:block;margin:12px 0;
color:#58a6ff;text-decoration:none;font-weight:bold}
a:hover{color:#fff}
</style>
</head>
<body>
<div class="card">
<h2>Admin Control Panel</h2>
<a href="/admin/add_authority">➕ Add Authority</a>
<a href="/admin/remove_authority">❌ Remove Authority</a>
<a href="/admin/manage_authority">🛠 Manage Authority</a>
<a href="/admin/view_complaints">📊 View Complaints</a>
<a href="/admin/system_logs">🗂 System Logs</a>
<a href="/logout">🚪 Logout</a>
</div>
</body>
</html>
