{% extends "base.html" %}
{% block title %}Complaint Detail{% endblock %}

{% block content %}
<div class="track-page">

  <div class="track-wrapper">

    <!-- LEFT : STATUS STEPPER -->
    <div class="status-stepper">
      {% set all = ["Submitted","Assigned","Visited","In_Progress","Resolved","Closed"] %}
      {% for s in all %}
        {% set item = history | selectattr("status","equalto",s) | first %}
        <div class="step {% if item %}done{% endif %}">
            {{ s.replace("_"," ") }}
            {% if item %}
              <span class="step-date">
  {{ item.datetime }}
</span>

            {% endif %}
        </div>
      {% endfor %}
    </div>

    <!-- RIGHT : DETAILS -->
    <div class="track-details">

      <h3>Complaint #{{ complaint.complaint_id }}</h3>

      <p><b>Issue:</b> {{ complaint.issue_type }}</p>
      <p><b>Department:</b> {{ complaint.department }}</p>
      <p><b>Priority:</b> {{ complaint.priority }}</p>
      <p><b>Status:</b> {{ complaint.current_status }}</p>

      <p><b>Citizen Email:</b>
        <a href="mailto:{{ complaint.citizen_email }}">
          {{ complaint.citizen_email }}
        </a>
      </p>

      <hr>

      <!-- ETA SECTION (replaces Assigned Authority) -->
      <h4>ETA Control Panel</h4>

      {% if complaint.estimated_days %}
        <p>
          Estimated Arrival:
          <b>{{ complaint.estimated_days }} days</b>
          <button class="btn-primary"
        onclick="openEtaPopup({{ complaint.complaint_id }})">
    View / Override
</button>

        </p>
      {% else %}
        <button class="btn-primary"
        onclick="openEtaPopup({{ complaint.complaint_id }})">
    View / Override
</button>

      {% endif %}

      <div id="status-actions"
           data-cid="{{ complaint.complaint_id }}"
           data-status="{{ complaint.current_status }}">
      </div>

    </div>
  </div>
</div>

{% include "eta_modal.html" %}
{% endblock %}
